body {
    background-color: #f4f6f9;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 100px;
    max-width: 950px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: #052b53;
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    margin-top: 40px;
    text-align: center;
    color: #052b53;
    font-weight: 500;
    font-size: 1.75rem;
}

.table-container {
    margin-top: 30px;
}

.table-title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5rem;
    color: #052b53;
}

table.dataTable thead {
    background-color: #f8f9fabf;
    color: #495057;
}

table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

tr {
    background: #052b53;
    color: #031f3d;
}

th {
    color: #f4f6f9;
}

.btn {
    padding: 12px 25px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #052b53;
    border-color: #052b53;
}

.btn-primary:hover {
    background-color: #031f3d;
    border-color: #031f3d;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #bd2130;
    border-color: #bd2130;
}

.alert {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    padding: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
}
