{% extends 'core/base.html' %}
{% load static %}
{% block titlePage %}
Teamfit - Proyectos a Asignar Recursos
{% endblock titlePage %}
{% block content %}
{% block estiloHead %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
{% endblock estiloHead %}
{% block titulo %}
Asignaciones de Recursos
{% endblock titulo %}
<br><br>
<div class="container mt-5">
    <div>
        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert" style="font-size: 15px;">
            <i class="fa fa-info-circle"></i>
            <strong>!AVISO!</strong> 
            <br>
            <ul>
                <li>
                    Actualmente el sistema está utilizando <strong>{{tipo_horas}}</strong> para realizar la asignación.
                    En caso de ser necesario, puede cambiar el tipo de horas utilizadas en la <strong><a href="{% url 'parametros' %}">página de parámetros</a> </strong>
                </li>
                <li>
                    Esta asignación considera un ambiente óptimo donde no existen semanas de atraso. Por favor, tenga en cuenta que pueden surgir semanas donde no se trabaja
                </li>
            </ul>
            
        </div>
    </div>

    <!-- Spinner para mostrar mientras se procesan solicitudes -->
    <div id="loading-spinner" style="display: none; text-align: center; margin-top: 20px;">
        <img src="{% static 'img/spinner.gif' %}" alt="Cargando..." style="width: 50px;">
    </div>

    <!-- Tabla de horas agrupadas por rol -->
    <div class="table-container mb-5">
        <h2 class="table-title text-center mb-3">Horas Totales por Rol y Semana</h2>
        <table id="proyectosTable" class="table table-striped table-bordered display nowrap" style="width:100%">
            <thead class="table-header">
                <tr>
                    <th>Nombre <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Nombre del empleado al que se le asignaron las horas"></i></button></th>
                    <th>Rol <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Rol del empleado asignado"></i></button></th>
                    <th>Semana <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Semana del año en la que se asignaron horas. Semana 1 corresponde a semana del 1/enero"></i></button></th>
                    <th>Total Horas <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Cantidad de horas totales asignadas en esa semana"></i></button></th>
                </tr>
            </thead>
        </table>

        <div class="d-flex justify-content-end mt-2" style="margin-bottom: 70px;">
            <a href="{% url 'generar_reporte' %}?formato=excel" class="btn btn-outline-success">Descargar Excel</a>
        </div>
    </div>

    <!-- Tabla de horas agrupadas por proyecto -->
    <div class="table-container mb-5">
        <h2 class="table-title text-center mb-3">Horas Totales por Proyecto y Semana</h2>
        <table id="totalesTable" class="table table-striped table-bordered display nowrap" style="width:100%">
            <thead class="table-header">
                <tr>
                    <th>Proyecto <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Proyecto al que se le han asignado horas"></i></button></th>
                    <th>Semana <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Semana del año en la que se asignaron horas. Semana 1 corresponde a semana del 1/enero"></i></button></th>
                    <th>Total Horas <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Cantidad de horas asignadas en esa semana para todos los roles del proyecto"></i></button></th>
                </tr>
            </thead>
        </table>
        <div class="d-flex justify-content-end mt-3">
            <a href="{% url 'generar_excel_recursos' %}" class="btn btn-outline-success">Descargar Excel</a>

        </div>
    </div>

    <!-- Reporte de recursos (mantener sin cambios) -->
    <div class="table-container mb-5">
        <h2 class="table-title text-center mb-3">Horas Totales por Rol</h2>
        <table id="asignacionesTable" class="table table-striped table-bordered display nowrap" style="width:100%">
            <thead class="table-header">
                <tr>
                    <th>Rol <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Rol al que se le han asignado las horas"></i></button></th>
                    <th>Nombre <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Rol al que se le han asignado las horas"></i></button></th>
                    <th>Semana <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Semana del año en la que se asignaron horas. Semana 1 corresponde a semana del 1/enero"></i></button></th>
                    <th>Total <button class="icon-button"><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Cantidad total de horas asignadas por rol para semana indicada"></i></button></th>
                </tr>
            </thead>
        </table>
        <div class="d-flex justify-content-end mt-3">
            <a href="{% url 'generar_reporte2' %}?formato=excel" class="btn btn-outline-success">Descargar Excel</a>
        </div>
    </div>

    <!-- Contenedor para mensajes -->
    <div id="mensaje" class="alert text-center" style="display: none;"></div>

    <!-- Contenedor para botones -->
    <div class="d-flex justify-content-center mb-5 gap-3">
        <!-- Botón para ejecutar la asignación -->
        <form id="asignacionForm" method="post" action="{% url 'ejecutar_asignacion' %}" class="mr-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Ejecutar Asignación de Recursos</button>
        </form>

        <!-- Botón para eliminar asignaciones -->
        <form id="eliminarAsignacionesForm" method="post" action="{% url 'eliminar_asignaciones' %}">
            {% csrf_token %}
            <button type="button" class="btn btn-danger" id="openModal">Eliminar Asignaciones Actuales</button>
        </form>      
    </div>


</div>

<!-- jQuery y DataTables JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    document.getElementById('openModal').addEventListener('click', function(e) {
        e.preventDefault(); // Prevenir el envío del formulario
        
            Swal.fire({
                title: 'Confirmar Eliminación',
                html: `Está a punto de eliminar toda la asignación de recursos. <strong>Esta acción no se puede 
                        deshacer</strong>. <br> Se recomienda realizar esta acción <strong>ANTES</strong> de 
                        cargar a Odoo, ya que no se eliminarán de esta plataforma. <br> 
                        ¿Está seguro de que desea eliminar las asignaciones?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('eliminarAsignacionesForm').submit(); // Enviar el formulario si el usuario confirma
                }
            });
    });
</script>
<!-- Inicialización de DataTables con AJAX -->
<script>
    $(document).ready(function() {
        // Inicialización de las tablas con DataTables
        const proyectosTable = $('#proyectosTable').DataTable({
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "ajax": {
                "url": "{% url 'horas_por_recurso_data' %}",
                "type": "GET"
            },
            "columns": [
                { "data": "empleado__nombre" },
                { "data": "empleado__rol" },
                { "data": "semana" },
                { "data": "total_horas_rol" }
            ],
            "order": [[1, 'asc']],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }
        });

        const totalesTable = $('#totalesTable').DataTable({
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "ajax": {
                "url": "{% url 'horas_por_proyecto_data' %}",
                "type": "GET"
            },
            "columns": [
                { "data": "proyecto__proyecto" },
                { "data": "semana" },
                { "data": "total_horas_proyecto" }
            ],
            "order": [[1, 'asc']],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }
        });

        const asignacionesTable = $('#asignacionesTable').DataTable({
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "ajax": {
                "url": "{% url 'asignaciones_data' %}",
                "type": "GET"
            },
            "columns": [
                { "data": "empleado__rol" },
                {"data": "empleado__nombre"},
                { "data": "semana" },
                { "data": "total_horas" }
            ],
            "order": [[2, 'asc']],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }
        });

        // Evitar el envío normal del formulario y usar AJAX
        $('#asignacionForm').on('submit', function(event) {
            event.preventDefault(); // Prevenir la recarga de página
            $("#loading-spinner").show(); // Mostrar spinner de carga

            // Enviar los datos del formulario con AJAX
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(), // Serializar el formulario para enviar datos
                success: function(response) {
                    $("#loading-spinner").hide(); // Ocultar spinner de carga
                    $('#mensaje').removeClass().addClass('alert alert-success').html('Asignación de recursos realizada exitosamente.').show();
                    
                    // Recargar todas las tablas con la nueva información
                    proyectosTable.ajax.reload(null, false);  // Recarga la tabla de proyectos sin reiniciar la paginación
                    totalesTable.ajax.reload(null, false);    // Recarga la tabla de totales
                    asignacionesTable.ajax.reload(null, false); // Recarga la tabla de asignaciones
                },
                error: function(xhr) {
                    $("#loading-spinner").hide(); // Ocultar spinner de carga
                    $('#mensaje').removeClass().addClass('alert alert-danger').html('Error al ejecutar la asignación: ' + xhr.responseText).show();
                }
            });
        });

        // Manejar el formulario de eliminación de asignaciones
        $('#eliminarAsignacionesForm').on('submit', function(event) {
            event.preventDefault(); // Prevenir la recarga de página
            $("#loading-spinner").show(); // Mostrar spinner de carga

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    $("#loading-spinner").hide();
                    $('#mensaje').removeClass().addClass('alert alert-success').html('Asignaciones eliminadas exitosamente.').show();
                    
                    // Recargar todas las tablas con la nueva información
                    proyectosTable.ajax.reload(null, false);
                    totalesTable.ajax.reload(null, false);
                    asignacionesTable.ajax.reload(null, false);
                },
                error: function(xhr) {
                    $("#loading-spinner").hide();
                    $('#mensaje').removeClass().addClass('alert alert-danger').html('Error al eliminar las asignaciones: ' + xhr.responseText).show();
                }
            });
            
        });

        // Ocultar el mensaje automáticamente después de unos segundos
        setTimeout(function() {
            $('#mensaje').fadeOut('slow');
        }, 15000); // Oculta después de 5 segundos
    });
</script>
{% endblock content %}
