{% extends 'core/base.html' %}
{% load static %}
{% block titlePage %}
Teamfit - Subir Proyectos
{% endblock titlePage %}
  

    
    <main>
        <form method="post" action="{% url 'asignar_recursos' %}">
            {% csrf_token %}
            <button type="submit">Asignar Recursos</button>
        </form>
        
        {% if proyectos %}
            <h2>Proyectos a Asignar</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID Proyecto</th>
                        <th>Nombre Proyecto</th>
                        <th>Horas Requeridas</th>
                        <th>Empleados Asignados</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyecto in proyectos %}
                        <tr>
                            <td>{{ proyecto.id }}</td>
                            <td>{{ proyecto.nombre }}</td>
                            <td>{{ proyecto.horas_requeridas }}</td>
                            <td>
                                {% for asignacion in asignaciones %}
                                    {% if asignacion.proyecto == proyecto %}
                                        {{ asignacion.empleado.nombre }} ({{ asignacion.horas_asignadas }} horas)
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay proyectos para asignar recursos en este momento.</p>
        {% endif %}
    </main>
</body>
</html>

